.App {
  width: 600px;
  margin: 2rem auto;
}

.search-results {
  margin: 0.5rem 0;
  border: 1px solid #efefef;
}

.search-results {
  padding: 0.4rem 0.4rem;
  cursor: pointer;
  font-size: 0.8rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.search-results:hover {
  background-color: #efefef;
}